@import './utils/_variables';
@import './utils/_placeholders';
@import './components/_page';
@import './components/_header';
@import './components/_nav';
@import './components/_contacts';
@import './components/_hero';
@import './components/_features';
@import './components/_working';
@import './components/_team';
@import './components/_customers';
@import './components/_footer';
@import './components/_modal';
@import './components/_filters';
@import './components/_project';
