.customers {
  @extend %section;

  &__container {
    @extend %container;
  }

  &__title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;

    color: $title-text-color;

    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  &__list {
    @extend %list;
    justify-content: center;
  }

  &__item {
    margin-right: 30px;

    &:nth-child(6) {
      margin-right: 0px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    width: 170px;
    height: 92px;

    color: $icon-color;
    border: 1px solid;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent;
      fill: $accent;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
