.project {
  padding-top: 0px;
  @extend %section;

  &__container {
    @extend %container;
  }

  &__list {
    flex-wrap: wrap;
    justify-content: space-between;

    @extend %list;
  }

  &__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    background: $white;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

      cursor: pointer;
    }
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__foto {
    display: block;
  }

  &__text {
    padding: 20px 24px;

    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &__name {
    margin-top: 0px;
    margin-bottom: 4px;

    color: $title-text-color;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    margin: 0px;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }

  /*Анімація при наведенні на карточки в секції проекти*/

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0 auto;

    transform: translateY(100%);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $white;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;

    .project__item:hover &,
    .project__item:focus & {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
