$primary-text-color: #757575;
$title-text-color: #212121;
$logo-black-color: #000000;
$footer-black-color: #2f303a;
$accent: #2196f3;
$second-accent: #188ce8;
$white: #ffffff;
$white-page: #f5f5f5;
$other-white: #f5f4fa;
$white-portfolio: #eeeeee;
$icon-color: #afb1b8;
