/* Основний колір тексту #757575; */
/* Додатковий колір тексту #212121; */
/* Надписи білим кольором  #FFFFFF; */
/* Колір акценту #2196F3; */
/*Колір іконок*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-black-color: #000000;
  --hero-footer-black-color: #2f303a;
  --acent: #2196f3;
  --second-accent: #188ce8;
  --white: #ffffff;
  --white-page: #f5f5f5;
  --other-white: #f5f4fa;
  --white-portfolio: #eeeeee;
  --icon-color: #afb1b8;
}

.page {
  margin: 0px auto;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.upper-line {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--logo-black-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--acent);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;

  position: relative;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent);
}
.site-nav .link.current {
  color: var(--acent);
}

.current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  right: 0;

  height: 4px;
  width: 100%;

  background: var(--acent);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--acent);
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Стилі для index.html*/

/* Section */

/* Section cap */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  /*height: 600px;*/
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  font-family: inherit;
}

.hero .button {
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--acent);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:active {
  background-color: var(--second-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Features */

.visually-hidden {
  margin: 0px;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-title {
  display: flex;
}
.features .item {
  margin-right: 30px;
  width: 270px;
}
.features-icons {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.features-icon {
  display: block;
  margin: auto;
}

.features .item:nth-child(4n) {
  margin-right: 0px;
}
.features-title .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features .feature {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What we do */

.working {
  padding-top: 0px;
}

.working-list {
  display: flex;
}
.working .item {
  position: relative;
  margin-right: 30px;
}
.working .item:nth-child(3n) {
  margin-right: 0px;
}

.working-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.working-img {
  display: block;
}

.working-inscription {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  margin: 0 auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.section-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team {
  margin-right: 30px;

  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team:nth-child(4n) {
  margin-right: 0px;
}
.team-item {
  padding: 30px 10px;
}

.team-name {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  text-decoration: none;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  fill: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--acent);
  fill: var(--white);
  border-radius: 50%;
}
.social-icon {
  color: currentColor;
}

.social-item {
  margin-right: 10px;
}

.social-item:nth-child(4n) {
  margin-right: 0px;
}

/*Постійні клієнти*/

.clients-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  width: 170px;
  height: 92px;

  color: var(--icon-color);
  border: 1px solid;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  color: var(--acent);
  fill: var(--acent);
}

.clients-item {
  margin-right: 30px;
}

.clients-item:nth-child(6) {
  margin-right: 0px;
}

.clients-icon {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--hero-footer-black-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-flex {
  display: flex;
}
.footer-address {
  display: flex;
  flex-direction: column;
}

.second-logo {
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer .logo {
  color: var(--white);
  margin-bottom: 20px;
}
.footer-title {
  padding-bottom: 60px;
}

.footer-title a {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.address {
  color: var(--white);
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-join {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 72px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  padding-bottom: 100px;
}

.list-social {
  margin-right: 10px;
}

.list-social:nth-child(4) {
  margin-right: 0px;
}

.join .footer-icon {
  fill: var(--white);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join .footer-icon:hover,
.join .footer-icon:focus {
  background-color: var(--acent);
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.sign {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.sign-text {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 72px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.sign-form {
  display: flex;
  align-items: center;
}

.sign-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  background-color: transparent;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  outline: none;
}

.sign-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sign-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 12px;

  border-radius: 4px;
  padding: 10px 28px;

  background-color: var(--acent);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-button:hover,
.sign-button:active {
  background-color: var(--second-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.sign-icon {
  margin-left: 10px;
}
/*Модальне вікно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
}
.close-icon {
  margin: auto;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--acent);
}

.form {
  padding: 40px;
}

.form-text {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  margin-top: 0px;
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /*outline: none;*/
}

.form-input:focus {
  outline: 1px solid var(--acent);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--acent);
}

.form-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea {
  height: 120px;

  padding: 12px 16px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.textarea:focus {
  outline: 1px solid var(--acent);
}

.form .form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  border-radius: 4px;
  padding: 10px 52px;

  background-color: var(--acent);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:focus,
.form-button:hover {
  background-color: var(--second-accent);
}

.form-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox {
  appearance: none;
  margin-right: 15px;
}

.checkbox-label {
}

.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 25px;
  transform: translate(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: var(--white);
}

.checkbox:checked ~ .checkbox-icon {
  fill: var(--acent);
  border: transparent;
}

.checkbox-link {
  color: var(--acent);
}

/* Стилі для portfolio.html */

/* Фільтр */
.filters {
  display: flex;
  justify-content: center;
}

.section-button {
  padding-bottom: 50px;
}

.section-button .item {
  margin-right: 8px;
}
.section-button .item:nth-child(5n) {
  margin-right: 0px;
}
.section-button .btn {
  border-radius: 4px;
  padding: 6px 22px;

  background: var(--other-white);
  color: var(--title-text-color);
  border-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button .btn:hover,
.section-button .btn:active {
  background-color: var(--acent);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
.section-button .btn.current {
  background: var(--acent);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Проєкти */

.project {
  padding-top: 0px;
}

.project-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--white);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  cursor: pointer;
}

.project .project-name {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .project-type {
  margin: 0px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.project .title {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/*Анімація при наведенні на карточки в секції проекти*/

img {
  display: block;
}

.project-foto {
  position: relative;
  overflow: hidden;
}

.p-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0 auto;

  transform: translateY(100%);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white);
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.project-item:hover .p-action,
.project-item:focus .p-action {
  transform: translateY(0%);
  opacity: 1;
}
