/* Основний колір тексту #757575; */
/* Додатковий колір тексту #212121; */
/* Надписи білим кольором  #FFFFFF; */
/* Колір акценту #2196F3; */
/*Колір іконок*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-black-color: #000000;
  --hero-footer-black-color: #2f303a;
  --acent: #2196f3;
  --second-accent: #188ce8;
  --white: #ffffff;
  --white-page: #f5f5f5;
  --other-white: #f5f4fa;
  --white-portfolio: #eeeeee;
  --icon-color: #afb1b8;
}

.page {
  margin: 0px auto;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.upper-line {
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--logo-black-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--acent);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent);
}
.site-nav .link.current {
  color: var(--acent);
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--acent);
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
  /*display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  fill: var(--icon-color);*/
}
/*.nav-icon:hover,
.nav-icon:focus {
  fill: var(--acent);
}*/
/* Стилі для index.html*/

/* Section */

/* Section cap */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  font-family: inherit;
}

.hero .button {
  /*margin-bottom: 200px;*/

  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--acent);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-style: none;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero .button:hover,
.hero .button:active {
  background: var(--second-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Features */

.visually-hidden {
  margin: 0px;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-title {
  display: flex;
}
.features .item {
  margin-right: 30px;
  width: 270px;
}
.features-icons {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.features-icon {
  display: block;
  margin: auto;
}
/*
.features .item::before {
  display: block;
  content: '';
  height: 120px;
  background-image: url(../images/antenna-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.features .item:nth-child(1)::before {
  background-image: url(../images/antenna-icon.svg);
}
.features .item:nth-child(2)::before {
  background-image: url(../images/clock-icon.svg);
}
.features .item:nth-child(3)::before {
  background-image: url(../images/diagram-icon.svg);
}
.features .item:nth-child(4)::before {
  background-image: url(../images/astronaut-icon.svg);
}*/

.features .item:nth-child(4n) {
  margin-right: 0px;
}
.features-title .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features .feature {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What we do */
.working {
  padding-top: 0px;
}

.working-list {
  display: flex;
}
.working .item {
  margin-right: 30px;
}
.working .item:nth-child(3n) {
  margin-right: 0px;
}

.working-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* Our team */

.section-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team {
  margin-right: 30px;

  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team:nth-child(4n) {
  margin-right: 0px;
}
.team-item {
  padding: 30px 10px;
}

.team-name {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  text-decoration: none;

  width: 44px;
  height: 44px;

  fill: var(--icon-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--acent);
  fill: var(--white);
  border-radius: 50%;
}
.social-icon {
  color: currentColor;
}

.social-item {
  margin-right: 10px;
}

.social-item:nth-child(4n) {
  margin-right: 0px;
}

/*Постійні клієнти*/

.clients-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  width: 170px;
  height: 92px;

  color: var(--icon-color);
  border: 1px solid;
  border-radius: 4px;
}
.client-link:hover,
.client-link:focus {
  color: var(--acent);
  fill: var(--acent);
}

.clients-item {
  margin-right: 30px;
}

.clients-item:nth-child(6) {
  margin-right: 0px;
}

.clients-icon {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--hero-footer-black-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-flex {
  display: flex;
}
.footer-address {
  display: flex;
  flex-direction: column;
}

.second-logo {
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer .logo {
  color: var(--white);
  margin-bottom: 20px;
}
.footer-title {
  padding-bottom: 60px;
}

.footer-title a {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.address {
  color: var(--white);
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-join {
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 72px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  padding-bottom: 100px;
}

.list-social {
  margin-right: 10px;
}

.list-social:nth-child(4) {
  margin-right: 0px;
}

.join .footer-icon {
  fill: var(--white);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.join .footer-icon:hover,
.join .footer-icon:focus {
  background-color: var(--acent);
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* Стилі для portfolio.html */

/* Фільтр */
.filters {
  display: flex;
  justify-content: center;
}

.section-button {
  padding-bottom: 50px;
}

.section-button .item {
  margin-right: 8px;
}
.section-button .item:nth-child(5n) {
  margin-right: 0px;
}
.section-button .btn {
  border-radius: 4px;
  padding: 6px 22px;

  background: var(--other-white);
  color: var(--title-text-color);
  border-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.section-button .btn:hover,
.section-button .btn:active {
  background: var(--acent);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-style: none;
}
.section-button .btn.current {
  background: var(--acent);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Проєкти */

.project {
  padding-top: 0px;
}

.project-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--white);
  /*border: 1px solid var(--white-portfolio);*/
}
.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project .project-name {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .project-type {
  margin: 0px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.project .title {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/*Анімація при наведенні на карточки в секції проекти*/

img {
  display: block;
}

.project-foto {
  position: relative;
  overflow: hidden;
}

.p-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0 auto;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white);
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.project-item:hover .p-action,
.project-item:focus .p-action {
  transform: translateY(0);
  opacity: 1;
}
